<section class="section photo-text" data-section-id="{{ section.id }}" data-section-type="{{ section.id }}"
  style="background-color:{{ block.settings.bg_color }}">
  <div class="container">

  
    {%- capture image -%}
    {%- if block.settings.image -%}
    <div class="cover-image-panel" style="background-image:url('{{ block.settings.image | img_url: 'master' }}'); {%- if block.settings.bg_image_block -%} background-size:cover;{%- else -%}background-size:contain;{%- endif -%}"
      ​​​​​​​>
      {%- else -%}
      <div class="cover-image-panel"
        style="background-image:url('https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081')"
        ​​​​​​​>
        {%- endif -%}
      </div>
      {%- endcapture -%}

      {%- capture text -%}
      {%- if block.settings.img_position == 'left' -%}
      <div class="content align-l">
        {%- else -%}
        <div class="content align-r">
          {%- endif -%}
          {%- if block.settings.title != blank -%}
          <h1 class="primary">{{ block.settings.title | escape }}</h1>
          {%- endif -%}

          {{ block.settings.content }}

          {% if block.settings.button_choice %}
          <a href="{{ block.settings.link }}" class="btn">{{ block.settings.button_text | escape }}</a>
          {%- endif -%}
        </div>
        {%- endcapture -%}


        {%- if block.settings.img_position == 'left' -%}
        <div class="photo-with-text">
          {{ image }}
          {{ text }}
          {%- else -%}
          <div class="photo-with-text right">
            {{ text }}
            {{ image }}
            {%- endif -%}
          </div>


  </div>
        
</section>