
  <section class="section" data-section-id="{{ section.id }}" data-section-type="text-with-icons" style="background-color:#F8F8F8; margin-bottom:30px;" id="shipping-information">

      <div class="text-with-icons text-with-icons--stacked">
          <div class="text-with-icons__item" data-block-index="{{ forloop.index0 }}">
            <div class="text-with-icons__icon-wrapper">
                <div class="icon-content" style="fill: #d2d2d2;" >{%- render 'icon', icon: 'icon-return', stroke_width: 1.5 -%}</div>
            </div>

              <div class="text-with-icons__content-wrapper">
                  <h5 class="text-with-icons__title">14 Day return policy</h5>
                  <div class="text-with-icons__content">If your not satisfied, send it back for a full refund.
                  </div>
              </div>
          </div>
          <div class="text-with-icons__item" data-block-index="{{ forloop.index0 }}">
            <div class="text-with-icons__icon-wrapper">
                <div class="icon-content" style="fill: #d2d2d2;" >{%- render 'icon', icon: 'icon-bike', stroke_width: 1.5 -%}</div>
            </div>

              <div class="text-with-icons__content-wrapper">
                  <h5 class="text-with-icons__title">Custom Built</h5>
                  <div class="text-with-icons__content">Built to order just for you in our Canadian warehouse.
                  </div>
              </div>
          </div>
          <div class="text-with-icons__item" data-block-index="{{ forloop.index0 }}">
            <div class="text-with-icons__icon-wrapper">
                <div class="icon-content" style="fill: #d2d2d2;" >{%- render 'icon', icon: 'icon-warranty', stroke_width: 1.5 -%}</div>
            </div>

              <div class="text-with-icons__content-wrapper">
                  <h5 class="text-with-icons__title">Lifetime Warranty</h5>
                  <div class="text-with-icons__content">Lifetime frame warranty and 1-year on all electronics.
                  </div>
              </div>
          </div>
          <div class="text-with-icons__item" data-block-index="{{ forloop.index0 }}">
            <div class="text-with-icons__icon-wrapper">
                <div class="icon-content" style="fill: #d2d2d2;" >{%- render 'icon', icon: 'icon-communication', stroke_width: 1.5 -%}</div>
            </div>

              <div class="text-with-icons__content-wrapper">
                  <h5 class="text-with-icons__title">Direct Support</h5>
                  <div class="text-with-icons__content">4/7 e-mail support. 8/5 phone and live chat.
                  </div>
              </div>
          </div>
        </div>
      </div>
  </section>