<section class="section" data-section-id="text-with-icons"  data-section-type="text-with-icons" style="background-color:{{ section.settings.bg_color }}">
    <div class="container">
      <div class="text-with-icons logo-set {% if section.settings.stack_mobile %}text-with-icons--stacked{% endif %}">
        
        {%- for block in section.blocks -%}

          <div class="logo-icon" data-block-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
              
              {%- if block.settings.custom_icon != blank -%}
                <img src="{{ block.settings.custom_icon | img_url: '120x40' }}" alt="{{ block.settings.custom_icon.alt | escape }}">
              {%- endif -%}
              
          </div>

        {%- endfor -%}
      </div>
    </div>
</section>


{% schema %}
{
  "name": "Logo List",
  "max_blocks": 6,
  "settings": [
    {
      "type": "checkbox", 
      "id": "stack_mobile",
      "label": "Stack On Mobile",
      "default": false
    },
            {
          "type": "header",
          "content": "Background"
        },
       {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#f8f8f8"
      }],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Add Logo",
          "info": "60px will be the maximum height."
        }
      ]
    }
  ],
    "presets": [
    {
      "category": "Image",
      "name": "Logo List",
      "settings": {}
    }
  ]
}
{% endschema %}


<style>

.text-with-icons.logo-set{
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
    grid-gap: 5%;
}

.text-with-icons.logo-set .logo-icon{
  margin:0px
}


@media screen and (max-width: 1000px){

.text-with-icons.logo-set{
    display: flex;
    flex-direction: none;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}


.text-with-icons.logo-set .logo-icon {
    display: flex;
    justify-content: center;
    width: calc(33.3333% - 20px);
    margin: 0px;
    margin-bottom: 30px;
}
}

@media screen and (max-width: 640px){

.text-with-icons.logo-set{
    display: block;
   padding-bottom: 30px;
   margin-bottom: 30px;
}


.text-with-icons.logo-set .logo-icon{
  display:block;
  width:100%;
  margin:0px;
}

.text-with-icons--stacked .logo-icon{
  margin-bottom:30px!important;
}

.text-with-icons--stacked .logo-icon:last-child{
  margin-bottom:0px!important;
}

}
</style>